<p class="social">
  {{ with .Site.Params.social.facebook }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external facebook">
    <i class="fa fa-facebook"></i>
  </a>
  {{end}} {{ with .Site.Params.social.googleplus }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external gplus">
    <i class="fa fa-google-plus"></i>
  </a>
  {{end}} {{ with .Site.Params.social.twitter }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external twitter">
    <i class="fa fa-twitter"></i>
  </a>
  {{end}} {{ with .Site.Params.social.instagram }}
  <a href="{{ . }}" title="" class="external instagram">
    <i class="fa fa-instagram"></i>
  </a>
  {{end}} {{ with .Site.Params.social.email }}
  <a href="mailto:{{ . }}" data-animate-hover="pulse" class="email">
    <i class="fa fa-envelope"></i>
  </a>
  {{end}} {{ with .Site.Params.social.phone }}
  <a href="tel:{{ . }}" data-animate-hover="pulse" class="phone">
    <i class="fa fa-phone"></i>
  </a>
  {{end}} {{ with .Site.Params.social.linkedin }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external">
    <i class="fa fa-linkedin"></i>
  </a>
  {{end}} {{ with .Site.Params.social.stackoverflow }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external">
    <i class="fa fa-stack-overflow"></i>
  </a>
  {{end}} {{ with .Site.Params.social.github }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external">
    <i class="fa fa-github"></i>
  </a>
  {{end}}
</p>